*.class
*.txt
*.mymetadata
*.TXT
*.log
*.bak
*.classpath
.settings/
.checkstyle
classes/
Thumbs.db
*.project
bin/*
.externalToolBuilders/
logs/
target/
lib/
.idea/
*.iml
.jupiter
*.json
release.properties
rebel.xml
web.xml